
.buttonform-wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
    

}


.buttonform {
  padding: 0.5rem 1rem;
  border: 2px solid #FAFF1D;
  border-radius: 4px;
  cursor: pointer;
  color: #FAFF1D;
  background: transparent;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  outline: none;
  
}

.buttonform:hover{
  background-color: #FAFF1D;
  border-radius: 4px;
  transition: all 0.5s ease-out;
  border: 2px solid #FAFF1D;
  color: #000F0C;
}


/* .buttonform {
    border:none;
    background: transparent;
    justify-content: center;
    position: relative;
  }

  
.buttonform:focus{
    outline-color: transparent;
  }

  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    top:45px;
    left:200px;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #FF6231;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: #fff;
    cursor:pointer;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    
  }
  .cta:hover:before {
    width: 100%;
    background: #ffab9d; 
    cursor:pointer;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  } */


  @media screen and (max-width: 960px){

  .buttonform {
    display: block;
  }
}