.page-search-content {
    background-color: #000F0C;
    text-align: center;
    height: 120vh;
}

.Form-Wrapper {
    display: flex;
    justify-content: center;
      
  } 

.search-text {
    margin-top: 20px;
    font-family: 'Work Sans';
	font-weight: normal;
    font-size: 16px;
    color: #FEFFE0;
}

.search-text2 {
    margin-top: 20px;
    font-family: 'Work Sans';
	font-weight: normal;
    font-size: 16px;
    color: #FEFFE0;

}


