.card-content {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #FF6231;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}


.movie-year{
    margin-top: 10px;
    color: #FAFF1D
}

.movie-image img {

    border-radius: 15px;
    border: 1px solid gold;      
}


@media all and (min-width: 360px) {
    .media-content {
        display: block;
        text-align: center;
    }
}
