.media-content {
    margin-top: 10px;
    color: #FF6231;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

.movie-year{
    margin-top: 10px;
    color: #FAFF1D
}

.movie-image img {

    border-radius: 15px;
    border: 1px solid gold;      
}


