
  
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: space-around;
  background: #000F0C;
  width: 100%; 

 
}
  
.MoviesList-item {
  margin: 20px;
  width: 44%;
  border-radius: 15px;

}

